{% extends 'base.html' %}

{% load thumbnail %}

{% block busqueda %}
	{% include 'caja.html' %}
{% endblock %}

{% block contenido %}
<div id='fb-root'></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = '//connect.facebook.net/es_ES/all.js#xfbml=1&appId=272580679486692';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div id='resultados'>
		{% for platillo in platillos %}
			<a href='/negocio/{{platillo.empresa.slug}}/{{platillo.slug}}'>
				<div class='vista_platillo'>
					<!-- Imagen y precio -->
					
					<div class='imagen_platillo' id='imagen_{{platillo.id}}'>
						{% thumbnail platillo.fotografia '100x70' crop='center' as im %}
							<img src='{{ im.url }}' alt='{{platillo.nombre_platillo}}' title='{{platillo.nombre_platillo}}' />
						{% endthumbnail %}
						<p>${{ platillo.precio }}</p>
					</div>

					<!-- Detalles de nombre y horario-->

					<div class='detalles'>
						<p class='negocio'>{{platillo.empresa}}</p>
						<p class='nombre_platillo'>{{platillo.nombre_platillo}}</p>
						<p class='nombre_platillo'><span class='negocio'>Categorías:</span> {{ platillo.tags|slice:':25' }}...</p>
						<!--
							<p class='sabor' style='background: #fff url({{STATIC_URL}}img/estrellas-4.png) 80px 4px no-repeat !important;'>Sabor</p>
						-->
						<p class='ver_todos'>
							<img src='{{STATIC_URL}}img/agregar.png' alt='Agregar al Pedido' class='add' id='{{platillo.id}}' />
						</p>
					</div>

					<!-- Datos del restaurante -->

					<div class='datos'>
						<p class='horario' title='Horario del d&iacute;a de hoy'>
							{{ platillo.empresa.horario }}
						</p>
						<p class='mapa'>Ubicaci&oacute;n</p>
						<div class='varios'>
							<p class='comentarios' title='Comentarios' style='width: 30px;'>
								<fb:comments-count href=http://localhost:8000/negocio/{{platillo.empresa.slug}}/{{platillo.slug}}/></fb:comments-count>&nbsp;
							</p>
							<p class='moto' title='Enrega a Domicilio'>
								{% if platillo.empresa.entrega %}
									Si
								{% else %}
									No
								{% endif %}
							</p>
							<p class='puntos' title='Puntos Coco&#39;s, canjeables por art&iacute;culos del sitio'>6 $cs</p>
						</div>
					</div>
				</div>
			</a>
		{% empty %}
			<p style='margin-top: 15em; text-align: center;'>Ups! No encontramos resultados para tu búsqueda</p>
		{% endfor %}

	</div>

{% endblock %}
