{% extends 'base.html' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/acerca.css">
	<style type="text/css">

		#leyenda{
			display: block;
			float: left;
			font-family: tahoma, arial, verdana;
			margin: 1em 0;
		}

		.formulario ul{
			display: inline-block;
			font-family: arial;
			list-style: none;
			margin: 1em 0;
			padding: 0;
		}

		.formulario ul li{
			margin: 2em 0;
		}

		.formulario ul li input[type='text'], .formulario ul li textarea{
			background: #fff;
			border-radius: 5px;
			border: 1px solid #fff;
			color: #cfd9cc;
			font-family: 'Boogaloo', cursive;
			font-size: 18px;
			padding: 10px 10px;						
			width: 270px;
			
			box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
			-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
			-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);	
		}

		.formulario textarea{
			height: 5em;
		}


		.formulario ul li input[type='text'], .formulario ul li input[type='password'], .formulario ul li textarea{
			background: #ede5db;
			color: #323232;
		}

		.formulario ul li label{
			display: inline-block;
			width: 150px;
		}

		.formulario .helptext{
			display: block;
			font-size: 0.7em;
		}

		.acciones{
			margin-top: -8em;
			text-align: right;
			width: 445px !important;
		}

		.botonE{
			margin-top: -20px !important;
		}		

	</style>
{% endblock %}

{% block busqueda %}
	{% include 'caja.html' %}
{% endblock %}

{% block contenido %}
	<div id='acerca'>
		<h2>Contáctanos</h2>

		<p>
			¿Tienes dudas o comentarios que hacernos? Puedes contactarnos por cualquiera de estos medios.
		</p>

		<div>
			<a href='#' target='_blank'>
				<img src='{{STATIC_URL}}img/fb.png' width='45' />
			</a>

			<a href='//twitter.com/CocoScore' target='_blank'>
				<img src='{{STATIC_URL}}img/tw.png' width='45' />
			</a>
		</div>

		<form action='.' method='post' class='formulario'>{% csrf_token %}
			
			<ul>

				{{ contacto.as_ul }}

				<li class='acciones'>		
					<input type='submit' name='submit' value='Enviar' class='botonE' />
				</li>

			</ul>

		</form>


	</div>
{% endblock %}