{% extends 'base.html' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registro.css">
{% endblock %}

   
{% block busqueda %}
	{% include 'caja.html' %}
{% endblock %}


{% block contenido %}
	<section id="contenedor-login">
		<div id="cabecera_login">
			<h2>Registro de usuarios</h2>
		</div>
		<form class="formulario" action='.' method='post'>{% csrf_token %}
			<ul>
				{{ formRegistro.as_ul }}

				<li class='acciones'>
					<input type="submit" name="submit" value="Registrar" class="botonE" />
				</li>
			</ul>
			
		</form>
	</section>
{% endblock %}