{% extends 'base.html' %}

{% load thumbnail %}

{% block titulo%} - {{negocio.empresa}} {% endblock%}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/sitio.css">
	<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>	
	<script src='{{ STATIC_URL }}js/gmap3.js'></script>
	<script>
		$(document).ready(function(){
			$("#mapa").gmap3({
				map: {
    				options: {
    					center: [19.26499, -103.739518],
   	   					maxZoom: 14
    				} 
 				},
 				marker:{
 					values:[
	 					{% for dir in lugar %}
	 						{address: "{{dir.estado}}, {{dir.calle}}, {{dir.municipio}}, México", data: "{{dir.calle}}, {{dir.municipio}}, {{dir.estado}}"},
	 					{% endfor %}
	 				],
	 				events:{
	 					click: function(marker, event, context){
        						var map = $(this).gmap3("get"),
          						infowindow = $(this).gmap3({get:{name:"infowindow"}});
								if (infowindow){
									infowindow.open(map, marker);
									infowindow.setContent(context.data);
								} else {
									$(this).gmap3({
								    	infowindow:{
								        	anchor:marker, 
								            options:{content: context.data}
								        }
								    });
								}
						}
          			}
				}, 
			},
			'autofit');	
		})

	</script>

{% endblock %}


{% block busqueda %}
	{% include 'caja.html' %}
{% endblock %}


{% block contenido %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=272580679486692";
  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>


	<div id='todo'>
		<div id='centrar'>
			<div id='cabecera_platillo'>
				{% thumbnail negocio.logotipo '241x98' as im %}
					<h2>
						<a href='#' title='{{negocio.empresa}}'>
							<span>{{negocio.empresa}}</span>
							<img src='{{ im.url }}' />
						</a>
					</h2>
				{% endthumbnail %}
				<p id='slogan'>
					{{negocio.slogan}}
				</p>
			</div>

			<div id='redes'>
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="cocoscore" data-lang="es" data-dnt="true">Twittear</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

			<div id='datos'>
				<div id='info'>
					{% for dir in lugar|slice:':1' %}
						<p id='dir'>{{dir.calle}}<br /> {{dir.municipio}}, {{dir.estado}}, M&eacute;xico</p>
					{% endfor %}

					<p id='horario'>
						{% for h in horario %}
							{{h.hora_abre}} - {{h.hora_cierra}}
						{% endfor %}
						8:00 am a 10:30 pm
					</p>

					<p id='moto'>
						{% if negocio.entrega %}
							Si - ${{ negocio.costo_envio }}
						{% else %}
							No
						{% endif %}
					</p>

					<p id='desc'>
						{{negocio.descripcion}}
					</p>
				</div>
				
				<div id='mapa'></div>
			</div>

			<div id='titulo-menu'>
				<p id='fecha'>18 de Agosto del 2012</p>
			</div>
			
			{% for plato in platillo %}
				<a href='/negocio/{{ plato.empresa.slug }}/{{ plato.slug }}'>
					<div class='menu'>
						<div class='submenu'>
							{% thumbnail plato.fotografia '100x70' crop='center' as im %}
								<div class='foto-mini'><img src='{{ im.url }}' /></div>
							{% endthumbnail %}
							<div class='indice'>
								<p class='nombre-platillo'>{{ plato.nombre_platillo }}</p>
								<p class='linea'></p>
								<p class='precio'>${{ plato.precio }}</p>
								<p class='descripcion'> {{ plato.descripcion|slice:':70' }}... </p>
							</div>

						<!--
							<div class='agregar'>
								Cantidad <input type='text' value='1' name='cantidad' class='cantidad' />
								<img src='{{STATIC_URL}}img/agregar.png' alt='Agrear al Pedido' class='add' />
							</div>
						-->
						</div>
					</div>
				</a>
			{% endfor %}

		</div>
	</div>
{% endblock %}