{% extends 'base.html' %}

{% block titulo%} - {{negocio.empresa}} {% endblock%}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/sitio.css">
{% endblock %}


{% block busqueda %}
	{% include 'caja.html' %}
{% endblock %}


{% block contenido %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=272580679486692";
  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>


	<div id='todo'>
		<div id='centrar'>
			<div id='cabecera_platillo'>
				<h2 style='background: #fff url({{MEDIA_URL}}{{negocio.logotipo}}) 0 0 no-repeat;'>
					<a href='#' title='{{negocio.empresa}}'><span>{{negocio.empresa}}</span></a>
				</h2>
				<p id='slogan'>{{negocio.slogan}}</p>
			</div>

			<div id='redes'>
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false" data-font="arial"></div>
				<a href="https://twitter.com/share" class="twitter-share-button" data-via="cocoscore" data-lang="es" data-dnt="true">Twittear</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>

			<div id='datos'>
				<div id='info'>
					{% for dir in lugar %}
						<p id='dir'>{{dir.direccion}}<br /> {{dir.municipio}}, {{dir.estado}}, M&eacute;xico</p>
					{% endfor %}

					<p id='horario'>
						{% for h in horario %}
							{{h.hora_abre}} - {{h.hora_cierra}}
						{% endfor %}
					</p>

					<p id='moto'>Si</p>

					<p id='desc'>
						{{negocio.descripcion}}
					</p>
				</div>
				
				<div id='mapa'></div>
			</div>

			<div id='titulo-menu'>
				<p id='fecha'>18 de Agosto del 2012</p>
			</div>


				<h3>Ensaladas</h3>
			
				<div class='menu'>
					<div class='submenu'>
						<div class='foto-mini'><img src='{{STATIC_URL}}img/prev.png'  /></div>
						<div class='indice'>
							<p class='nombre-platillo'>Mole poblano de puebla</p>
							<p class='linea'></p>
							<p class='precio'>$535.50</p>
						</div>

						<div class='agregar'>
							Cantidad <input type='text' value='1' name='cantidad' class='cantidad' />
							<img src='{{STATIC_URL}}img/agregar.png' alt='Agrear al Pedido' class='add' />
						</div>
					</div>
				</div>

		</div>
	</div>
{% endblock %}