{% extends 'base.html' %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login.css">
	<style type="text/css">
		h3 a{
			color: #00f;
			display: block;
			float: right;
			margin: 2em 4em 0 0;
		}

		#leyenda{
			display: block;
			float: left;
			font-family: tahoma, arial, verdana;
			margin: 1em 0;
		}

		table{
			float: left;
			font-family:  arial;
			font-size: .9em;
			margin: 2em 0;
			width: 670px;
		}

		table tr{
			border-bottom: 1px solid #999;
			text-align: justify;
		}

		table tr:hover{
			background-color: #f9facc;
		}

		table td{
			padding: 1em 0.8em;
		}

	</style>
{% endblock %}

{% block busqueda %}
	{% include 'caja.html' %}
{% endblock %}

{% block menu_panel %}
	{% include 'panel/menu_panel.html' %}
{% endblock %}

{% block contenido %}
	<div id='cabecera_login'>
		<h2>Mis Sucursales</h2>
	</div>

	<h3><a href="/panel/sucursales/nuevo">Agregar Nueva Sucursal</a></h3>

	<p id='leyenda'>
		Agrega todas tus sucursales, incluyendo la matriz.
	</p>

	<table>
		{% for sucursal in lista %}

			<tr>
				<td>
					{{ sucursal.calle }}
				</td>

				<td>
					{{ sucursal.colonia }}
				</td>

				<td>
					{{ sucursal.municipio }}
				</td>

				<td>
					{{ sucursal.estado }}
				</td>

				<td>
					<a href='/panel/sucursales/editar/{{ sucursal.id }}'>
						<img src='{{ STATIC_URL }}img/edit.png' />
					</a>
				</td>

				<td>
					<img src='{{ STATIC_URL }}img/delete.png' />
				</td>
			</tr>

		{% endfor %}
	</table>
{% endblock %}

